body{
    background-color: #cee5f2;
}

nav ul{
    text-align: center;
}

.li-menu{
    display: inline;
    padding-right: 50px;
}

.navBar-a{
    text-decoration: none;
    color: #536b78;
    border-left: 1px solid #536b78;
    border-right: 1px solid #536b78;
    padding-right: 5px;
    padding-left: 5px;
}

#container{
    width: 75%;
    height: 500px;
    background-color: #accbe1;
    margin: auto;
    color: #637081;
}

#footerStyle{
    background-color: #536b78;
    width: 100%;
    height: 150px;
    color: #cee5f2;
}